## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df_dropped = application_df.drop(columns = ['EIN', 'NAME'])
df_dropped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = df_dropped.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:

# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = df_dropped['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 100
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    df_dropped['APPLICATION_TYPE'] = df_dropped['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
df_dropped['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = df_dropped['CLASSIFICATION'].value_counts()
print(classification_counts)

# Determine a cutoff value for CLASSIFICATION
classification_cutoff_value = 100  # Adjust this value as needed

# Create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts < classification_cutoff_value].index)

# Replace in DataFrame
for cls in classifications_to_replace:
    df_dropped['CLASSIFICATION'] = df_dropped['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print(df_dropped['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = df_dropped['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_one)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < classification_cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df_dropped['CLASSIFICATION'] = df_dropped['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df_dropped['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
df_dropped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(df_dropped)

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df_encoded.drop(columns="IS_SUCCESSFUL")
y = application_df_encoded["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train,y_test = train_test_split(X,y, shuffle=True, random_state=42, test_size=0.3)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
from tensorflow.keras.layers import Dense

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X.columns)
hidden_nodes_1 = 60
hidden_nodes_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=hidden_nodes_1, input_dim=input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=hidden_nodes_2, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 60)                             3,060

 dense_1 (Dense)                       (None, 30)                             1,830

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 4,921 (19.22 KB)

 Trainable params: 4,921 (19.22 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [16]:
# Train the model
#  YOUR CODE GOES HERE
history = nn.fit(X_train_scaled,y_train,epochs=100, validation_split=0.2)

Epoch 1/100
601/601  4s 2ms/step - accuracy: 0.6767 - loss: 0.6108 - val_accuracy: 0.7370 - val_loss: 0.5511
Epoch 2/100
601/601  1s 2ms/step - accuracy: 0.7263 - loss: 0.5611 - val_accuracy: 0.7349 - val_loss: 0.5461
Epoch 3/100
601/601  1s 2ms/step - accuracy: 0.7305 - loss: 0.5529 - val_accuracy: 0.7378 - val_loss: 0.5456
Epoch 4/100
601/601  1s 2ms/step - accuracy: 0.7304 - loss: 0.5502 - val_accuracy: 0.7328 - val_loss: 0.5462
Epoch 5/100
601/601  3s 3ms/step - accuracy: 0.7342 - loss: 0.5469 - val_accuracy: 0.7339 - val_loss: 0.5458
Epoch 6/100
601/601  1s 2ms/step - accuracy: 0.7268 - loss: 0.5501 - val_accuracy: 0.7328 - val_loss: 0.5491
Epoch 7/100
601/601  2s 2ms/step - accuracy: 0.7359 - loss: 0.5418 - val_accuracy: 0.7334 - val_loss: 0.5483
Epoch 8/100
601/601  2s 2ms/step - accuracy: 0.7337 - loss: 0.5429 - val_accuracy: 0.7359 - val_loss: 0.5430
Epoch 9/100
601/601  1s 2ms/step - accuracy: 0.7309 - loss: 0.5455 - val_accuracy: 0.7309 - val_loss: 0.5454
Epoch 10/100
601/601  1s 2ms/step - accuracy: 0.7301 - loss: 0.5487 - val_accuracy: 0.7359 - val_loss: 0.5456
Epoch 11/100
601/601  2s 3ms/step - accuracy: 0.7304 - loss: 0.5455 - val_accuracy: 0.7353 - val_loss: 0.5451
Epoch 12/100
601/601  3s 3ms/step - accuracy: 0.7320 - loss: 0.5428 - val_accuracy: 0.7372 - val_loss: 0.5432
Epoch 13/100
601/601  2s 2ms/step - accuracy: 0.7272 - loss: 0.5473 - val_accuracy: 0.7372 - val_loss: 0.5448
Epoch 14/100
601/601  2s 2ms/step - accuracy: 0.7330 - loss: 0.5435 - val_accuracy: 0.7362 - val_loss: 0.5446
Epoch 15/100
601/601  3s 2ms/step - accuracy: 0.7343 - loss: 0.5394 - val_accuracy: 0.7368 - val_loss: 0.5445
Epoch 16/100
601/601  2s 2ms/step - accuracy: 0.7294 - loss: 0.5434 - val_accuracy: 0.7376 - val_loss: 0.5428
Epoch 17/100
601/601  4s 4ms/step - accuracy: 0.7317 - loss: 0.5471 - val_accuracy: 0.7368 - val_loss: 0.5426
Epoch 18/100
601/601  2s 3ms/step - accuracy: 0.7372 - loss: 0.5410 - val_accuracy: 0.7393 - val_loss: 0.5424
Epoch 19/100
601/601  2s 2ms/step - accuracy: 0.7345 - loss: 0.5368 - val_accuracy: 0.7359 - val_loss: 0.5424
Epoch 20/100
601/601  1s 2ms/step - accuracy: 0.7365 - loss: 0.5398 - val_accuracy: 0.7355 - val_loss: 0.5419
Epoch 21/100
601/601  1s 2ms/step - accuracy: 0.7334 - loss: 0.5395 - val_accuracy: 0.7368 - val_loss: 0.5442
Epoch 22/100
601/601  1s 2ms/step - accuracy: 0.7370 - loss: 0.5364 - val_accuracy: 0.7355 - val_loss: 0.5428
Epoch 23/100
601/601  1s 2ms/step - accuracy: 0.7370 - loss: 0.5371 - val_accuracy: 0.7368 - val_loss: 0.5420
Epoch 24/100
601/601  1s 2ms/step - accuracy: 0.7337 - loss: 0.5409 - val_accuracy: 0.7374 - val_loss: 0.5416
Epoch 25/100
601/601  2s 3ms/step - accuracy: 0.7314 - loss: 0.5425 - val_accuracy: 0.7351 - val_loss: 0.5430
Epoch 26/100
601/601  2s 3ms/step - accuracy: 0.7382 - loss: 0.5398 - val_accuracy: 0.7382 - val_loss: 0.5443
Epoch 27/100
601/601  1s 2ms/step - accuracy: 0.7366 - loss: 0.5370 - val_accuracy: 0.7374 - val_loss: 0.5428
Epoch 28/100
601/601  1s 2ms/step - accuracy: 0.7313 - loss: 0.5435 - val_accuracy: 0.7374 - val_loss: 0.5431
Epoch 29/100
601/601  3s 2ms/step - accuracy: 0.7375 - loss: 0.5342 - val_accuracy: 0.7374 - val_loss: 0.5436
Epoch 30/100
601/601  1s 2ms/step - accuracy: 0.7325 - loss: 0.5411 - val_accuracy: 0.7397 - val_loss: 0.5421
Epoch 31/100
601/601  1s 2ms/step - accuracy: 0.7348 - loss: 0.5413 - val_accuracy: 0.7366 - val_loss: 0.5431
Epoch 32/100
601/601  1s 2ms/step - accuracy: 0.7336 - loss: 0.5420 - val_accuracy: 0.7374 - val_loss: 0.5426
Epoch 33/100
601/601  3s 3ms/step - accuracy: 0.7341 - loss: 0.5391 - val_accuracy: 0.7357 - val_loss: 0.5443
Epoch 34/100
601/601  2s 2ms/step - accuracy: 0.7387 - loss: 0.5363 - val_accuracy: 0.7345 - val_loss: 0.5427
Epoch 35/100
601/601  3s 2ms/step - accuracy: 0.7424 - loss: 0.5334 - val_accuracy: 0.7382 - val_loss: 0.5423
Epoch 36/100
601/601  2s 2ms/step - accuracy: 0.7381 - loss: 0.5347 - val_accuracy: 0.7370 - val_loss: 0.5443
Epoch 37/100
601/601  1s 2ms/step - accuracy: 0.7436 - loss: 0.5302 - val_accuracy: 0.7372 - val_loss: 0.5430
Epoch 38/100
601/601  1s 2ms/step - accuracy: 0.7369 - loss: 0.5375 - val_accuracy: 0.7372 - val_loss: 0.5433
Epoch 39/100
601/601  1s 2ms/step - accuracy: 0.7402 - loss: 0.5356 - val_accuracy: 0.7374 - val_loss: 0.5445
Epoch 40/100
601/601  3s 3ms/step - accuracy: 0.7411 - loss: 0.5340 - val_accuracy: 0.7334 - val_loss: 0.5426
Epoch 41/100
601/601  2s 3ms/step - accuracy: 0.7372 - loss: 0.5370 - val_accuracy: 0.7364 - val_loss: 0.5436
Epoch 42/100
601/601  2s 2ms/step - accuracy: 0.7412 - loss: 0.5345 - val_accuracy: 0.7364 - val_loss: 0.5460
Epoch 43/100
601/601  3s 2ms/step - accuracy: 0.7313 - loss: 0.5434 - val_accuracy: 0.7351 - val_loss: 0.5482
Epoch 44/100
601/601  1s 2ms/step - accuracy: 0.7440 - loss: 0.5325 - val_accuracy: 0.7376 - val_loss: 0.5430
Epoch 45/100
601/601  3s 2ms/step - accuracy: 0.7393 - loss: 0.5327 - val_accuracy: 0.7355 - val_loss: 0.5420
Epoch 46/100
601/601  3s 3ms/step - accuracy: 0.7399 - loss: 0.5355 - val_accuracy: 0.7332 - val_loss: 0.5481
Epoch 47/100
601/601  1s 2ms/step - accuracy: 0.7392 - loss: 0.5363 - val_accuracy: 0.7349 - val_loss: 0.5454
Epoch 48/100
601/601  2s 2ms/step - accuracy: 0.7416 - loss: 0.5296 - val_accuracy: 0.7380 - val_loss: 0.5434
Epoch 49/100
601/601  1s 2ms/step - accuracy: 0.7334 - loss: 0.5415 - val_accuracy: 0.7370 - val_loss: 0.5433
Epoch 50/100
601/601  1s 2ms/step - accuracy: 0.7416 - loss: 0.5278 - val_accuracy: 0.7351 - val_loss: 0.5441
Epoch 51/100
601/601  1s 2ms/step - accuracy: 0.7468 - loss: 0.5263 - val_accuracy: 0.7362 - val_loss: 0.5430
Epoch 52/100
601/601  1s 2ms/step - accuracy: 0.7417 - loss: 0.5343 - val_accuracy: 0.7366 - val_loss: 0.5464
Epoch 53/100
601/601  2s 3ms/step - accuracy: 0.7390 - loss: 0.5355 - val_accuracy: 0.7364 - val_loss: 0.5432
Epoch 54/100
601/601  2s 3ms/step - accuracy: 0.7403 - loss: 0.5314 - val_accuracy: 0.7387 - val_loss: 0.5434
Epoch 55/100
601/601  2s 2ms/step - accuracy: 0.7404 - loss: 0.5329 - val_accuracy: 0.7380 - val_loss: 0.5463
Epoch 56/100
601/601  1s 2ms/step - accuracy: 0.7417 - loss: 0.5302 - val_accuracy: 0.7376 - val_loss: 0.5457
Epoch 57/100
601/601  2s 2ms/step - accuracy: 0.7404 - loss: 0.5302 - val_accuracy: 0.7366 - val_loss: 0.5434
Epoch 58/100
601/601  1s 2ms/step - accuracy: 0.7475 - loss: 0.5275 - val_accuracy: 0.7305 - val_loss: 0.5453
Epoch 59/100
601/601  1s 2ms/step - accuracy: 0.7353 - loss: 0.5359 - val_accuracy: 0.7374 - val_loss: 0.5442
Epoch 60/100
601/601  1s 2ms/step - accuracy: 0.7381 - loss: 0.5369 - val_accuracy: 0.7366 - val_loss: 0.5445
Epoch 61/100
601/601  1s 2ms/step - accuracy: 0.7366 - loss: 0.5376 - val_accuracy: 0.7374 - val_loss: 0.5453
Epoch 62/100
601/601  2s 3ms/step - accuracy: 0.7396 - loss: 0.5343 - val_accuracy: 0.7357 - val_loss: 0.5450
Epoch 63/100
601/601  2s 3ms/step - accuracy: 0.7418 - loss: 0.5304 - val_accuracy: 0.7372 - val_loss: 0.5448
Epoch 64/100
601/601  2s 2ms/step - accuracy: 0.7391 - loss: 0.5324 - val_accuracy: 0.7372 - val_loss: 0.5425
Epoch 65/100
601/601  1s 2ms/step - accuracy: 0.7395 - loss: 0.5334 - val_accuracy: 0.7357 - val_loss: 0.5433
Epoch 66/100
601/601  1s 2ms/step - accuracy: 0.7428 - loss: 0.5338 - val_accuracy: 0.7370 - val_loss: 0.5435
Epoch 67/100
601/601  1s 2ms/step - accuracy: 0.7399 - loss: 0.5336 - val_accuracy: 0.7393 - val_loss: 0.5449
Epoch 68/100
601/601  2s 3ms/step - accuracy: 0.7374 - loss: 0.5363 - val_accuracy: 0.7357 - val_loss: 0.5451
Epoch 69/100
601/601  3s 4ms/step - accuracy: 0.7406 - loss: 0.5293 - val_accuracy: 0.7337 - val_loss: 0.5448
Epoch 70/100
601/601  2s 3ms/step - accuracy: 0.7418 - loss: 0.5286 - val_accuracy: 0.7368 - val_loss: 0.5473
Epoch 71/100
601/601  2s 2ms/step - accuracy: 0.7349 - loss: 0.5367 - val_accuracy: 0.7343 - val_loss: 0.5438
Epoch 72/100
601/601  1s 2ms/step - accuracy: 0.7437 - loss: 0.5261 - val_accuracy: 0.7370 - val_loss: 0.5456
Epoch 73/100
601/601  1s 2ms/step - accuracy: 0.7366 - loss: 0.5333 - val_accuracy: 0.7389 - val_loss: 0.5434
Epoch 74/100
601/601  1s 2ms/step - accuracy: 0.7397 - loss: 0.5323 - val_accuracy: 0.7364 - val_loss: 0.5447
Epoch 75/100
601/601  2s 2ms/step - accuracy: 0.7328 - loss: 0.5391 - val_accuracy: 0.7374 - val_loss: 0.5449
Epoch 76/100
601/601  1s 2ms/step - accuracy: 0.7403 - loss: 0.5274 - val_accuracy: 0.7347 - val_loss: 0.5448
Epoch 77/100
601/601  2s 3ms/step - accuracy: 0.7429 - loss: 0.5333 - val_accuracy: 0.7359 - val_loss: 0.5494
Epoch 78/100
601/601  2s 3ms/step - accuracy: 0.7436 - loss: 0.5276 - val_accuracy: 0.7362 - val_loss: 0.5449
Epoch 79/100
601/601  2s 2ms/step - accuracy: 0.7408 - loss: 0.5310 - val_accuracy: 0.7370 - val_loss: 0.5480
Epoch 80/100
601/601  2s 2ms/step - accuracy: 0.7458 - loss: 0.5291 - val_accuracy: 0.7364 - val_loss: 0.5453
Epoch 81/100
601/601  1s 2ms/step - accuracy: 0.7458 - loss: 0.5280 - val_accuracy: 0.7353 - val_loss: 0.5469
Epoch 82/100
601/601  1s 2ms/step - accuracy: 0.7412 - loss: 0.5326 - val_accuracy: 0.7384 - val_loss: 0.5448
Epoch 83/100
601/601  2s 2ms/step - accuracy: 0.7394 - loss: 0.5319 - val_accuracy: 0.7384 - val_loss: 0.5455
Epoch 84/100
601/601  2s 3ms/step - accuracy: 0.7416 - loss: 0.5316 - val_accuracy: 0.7370 - val_loss: 0.5452
Epoch 85/100
601/601  3s 3ms/step - accuracy: 0.7415 - loss: 0.5315 - val_accuracy: 0.7364 - val_loss: 0.5445
Epoch 86/100
601/601  2s 2ms/step - accuracy: 0.7377 - loss: 0.5334 - val_accuracy: 0.7376 - val_loss: 0.5463
Epoch 87/100
601/601  1s 2ms/step - accuracy: 0.7394 - loss: 0.5329 - val_accuracy: 0.7372 - val_loss: 0.5474
Epoch 88/100
601/601  1s 2ms/step - accuracy: 0.7395 - loss: 0.5322 - val_accuracy: 0.7364 - val_loss: 0.5470
Epoch 89/100
601/601  2s 2ms/step - accuracy: 0.7482 - loss: 0.5244 - val_accuracy: 0.7378 - val_loss: 0.5478
Epoch 90/100
601/601  1s 2ms/step - accuracy: 0.7405 - loss: 0.5329 - val_accuracy: 0.7372 - val_loss: 0.5467
Epoch 91/100
601/601  2s 3ms/step - accuracy: 0.7429 - loss: 0.5299 - val_accuracy: 0.7384 - val_loss: 0.5482
Epoch 92/100
601/601  3s 3ms/step - accuracy: 0.7434 - loss: 0.5267 - val_accuracy: 0.7374 - val_loss: 0.5459
Epoch 93/100
601/601  2s 2ms/step - accuracy: 0.7453 - loss: 0.5287 - val_accuracy: 0.7380 - val_loss: 0.5474
Epoch 94/100
601/601  2s 2ms/step - accuracy: 0.7407 - loss: 0.5332 - val_accuracy: 0.7384 - val_loss: 0.5466
Epoch 95/100
601/601  2s 2ms/step - accuracy: 0.7380 - loss: 0.5342 - val_accuracy: 0.7380 - val_loss: 0.5482
Epoch 96/100
601/601  1s 2ms/step - accuracy: 0.7404 - loss: 0.5324 - val_accuracy: 0.7389 - val_loss: 0.5482
Epoch 97/100
601/601  1s 2ms/step - accuracy: 0.7398 - loss: 0.5317 - val_accuracy: 0.7368 - val_loss: 0.5467
Epoch 98/100
601/601  2s 3ms/step - accuracy: 0.7335 - loss: 0.5374 - val_accuracy: 0.7376 - val_loss: 0.5475
Epoch 99/100
601/601  2s 3ms/step - accuracy: 0.7365 - loss: 0.5368 - val_accuracy: 0.7374 - val_loss: 0.5490
Epoch 100/100
601/601  2s 2ms/step - accuracy: 0.7434 - loss: 0.5306 - val_accuracy: 0.7378 - val_loss: 0.5472

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 0s - 1ms/step - accuracy: 0.7259 - loss: 0.5612
Loss: 0.5611575245857239, Accuracy: 0.7259474992752075

In [19]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.